body {
	font-family: Arial, sans-serif;
	background-color: #F8D39C;
	margin: 0;
	padding: 20px;
}

@keyframes fade {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	animation: fade 1s ease-out;
}

img {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: auto;
}

.form-container {
	max-width: 1000px;
	margin: auto;
	background-color: #a67b5b8f;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

.section-title {
	font-size: 1.2em;
	margin: 30px 0 15px;
	border-bottom: 2px solid #4B2E1E;
	padding-bottom: 5px;
}

.form-section {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.form-group {
	flex: 1 1 45%;
	min-width: 280px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="number"],
select,
textarea {
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	box-shadow: 0 4px 8px rgba(75, 46, 30, 0.2), 0 2px 4px rgba(75, 46, 30, 0.1);
	background-color: #ffffffc6;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	border: none;
	box-shadow: 0 0 0 2px #4B2E1E50;
}

textarea {
	resize: vertical;
	height: 100px;
}

.full-width {
	flex: 1 1 100%;
}



/* Responsividade */
@media (max-width: 768px) {
	.form-group {
		flex: 1 1 100%;
	}
}

@media (max-width: 600px) {
	.botao-lista {
		flex-direction: column;
	}
}

.botao-lista {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin-top: 30px;
	flex-wrap: wrap;
}

.botao {
	display: inline-block;
	padding: 12px 30px;
	font-size: 16px;
	border: none;
	border-radius: 25px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
	color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botao-cadastrar, .botao-cancelar {
	background-color: #4B2E1E;
}

.botao-cadastrar:hover, .botao-cancelar:hover {
	background-color: #27170e;
}

